<!-- 
Title: Jukebox UI
Used In File(s): \code\game\machinery\jukebox.dm
 -->

<H3><span class="white">Current track:</span> <span class="average">{{:current_track}}</span></H3>
<div>
    {{:~link('Play' , 'play', {'play' : 1}, playing == 1 ? 'disabled' : null, null)}}
    {{:~link('Stop' , 'stop', {'stop' : 1}, playing == 0 ? 'disabled' : null, null)}}
</div>

<H3><span class="white">Available tracks:</span></H3>
<div class="itemContent">
    {{for tracks}}
        <div class="item">
            {{:~link( track, 'gear', {'change_track' : 1, 'title' : track}, track == current_track ? 'disabled' : null, null)}}    
        </div>
    {{/for}}
</div>